/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap'); */

body {
    /* font: 400 15px Lato, sans-serif;
    line-height: 1.8; */
}

/* BASE FONTS */
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

.jumbotron {
    background-color: #abb7b8;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}


.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
/*.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #b10000;
}
.carousel-indicators li {
    border-color: #b10000;
}
.carousel-indicators li.active {
    background-color: #b10000;
}*/
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}


/* PANELS */
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

/* .panel {
    border: 1px solid #b10000; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #b10000;
    background-color: #fff !important;
    color: #b10000;
}
.panel-heading {
    color: #fff !important;
    background-color: #b10000 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #b10000;
    color: #fff;
} */


/* NAV */
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

.logo {
    color: #b10000;
    font-size: 200px;
}


.logo-small {
    color: #b10000;
    font-size: 50px;
}


/* FOOTER */
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #b10000;
}




.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(70%);
  } 
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
